@{
    ViewBag.Title = "IT Solutions PLC";    
}
    <style type="text/css">
        p
        {
            font-family:'Bookman Old Style'
        }
    </style>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x400/auto/#777:#7a7a7a/text:Applications" alt="Applications">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:orange;">Deliver fast, efficient and reliable applications.</h1>
              <p>Business software implementation, development, integration, consulting, and IT training - everything what help in modernizing your company. What can we offer to you?</p>
              <p><a class="btn btn-lg btn-primary" href="#contactus" role="button">Contact us</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x400/auto/#666:#6a6a6a/text:Websites" alt="Websites">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:orange;">More than websites.</h1>
              <p>We Build Web sites That Build Your Business. We love creating fast, simple, functional, beautiful & user-friendly websites using the latest web standard technologies. </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x400/auto/#555:#5a5a5a/text:Mobile Apps" alt="Mobile Apps">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="color:orange;">We are your solution partner.</h1>
              <p>We are not your typical IT Services Provider, We are your solution partner. With sole focus on adding value to customers, we use a right combination of technology and business processes improvements to achieve the goals.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          @*<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">*@
          <h2>Desktop Applications Development</h2>
          <p>We love developing tools to help other great people on their daily work. If you need a custom application or tool, contact us, we're the team you've been looking for.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          @*<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">*@
          <h2>Web Applications Development</h2>
          <p>We are primarily a specialist web application services company. For customers, we undertake all types of web projects, be it custom web applications, portals, ecommerce sites or web services based applications.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          @*<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">*@
          <h2>Mobile Applications Development</h2>
          <p>Take your web app mobile! Rather than creating 20 different versions of your application, we can efficiently deliver applications that work in all major web browsers and on all modern mobile platforms.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">How we work. <span class="text-muted">magic four steps.</span></h2>
          <p class="lead">Our philosophy is simple, we do what we do with passion and knowledge. Passion is the best inspiration for creating high quality products backed up by experience in developing practical solutions. We do not develop just to develop, we believe in what we do and what we do is based on our philosophy of making things simple, functional and real.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x400/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" id="aboutus">
        
      <div class="row featurette" >       
        <div class="col-md-7">
          <h2 class="featurette-heading" >About us. <span class="text-muted">who we are.</span></h2>
          <p class="lead">We are a team of passionate desktop, website and mobile experience designers , developers and Managers.
              We help organizations streamline operations, improve productivity and achieve competitive advantage through selective deployment of enterprise information technology solutions.
              So far we have a number of clients using our client-server based applications for their day to day activities.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x400/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" id="contactus">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" >Contact us. <span class="text-muted">Checkmate.</span></h2>
            
            <div>
                <address>
                <p>
                    
                    Bethel Square<br />
                    Commercial Bank Building, Office Number 415<br />
                    Mobile: 09-11-85-09-08                   
                </p>
                <p>
                    <a href="mailto:contact@pinnasofts.com" class="btn btn-lg btn-success">Contact us by mail</a><br />
                    @*<i class="glyphicon glyphicon-envelope"></i> <strong>Sales:</strong> <a href="mailto:sales@pinnasofts.com">sales@pinnasofts.com</a>*@
                </p>
                </address>
            </div>

          <p>Schedule a free 30-minute consultation to discuss your project and find out how we can help!</p>

        </div>
          <div class="col-md-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1970.3275426589164!2d38.69469525807232!3d9.003850214892289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf9855df4da945b2!2sCommercal+Bank+of+Ethiopia+Betel+Branch!5e0!3m2!1sen!2set!4v1553688753773" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
              @*<img class="img-responsive" src="~/Images/500_400.jpg" alt="Generic placeholder image">*@
          </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
         <!-- FOOTER -->
      @*<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>*@

    </div><!-- /.container -->
